{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }]
  }
}
