button {
  width: 224px;
  color: white;
  font-size: 22px;
  height: 85px;
  border: none;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(97, 137, 103, 1);
}
