.container {
  display: flex;
  flex-direction: column;
  label {
    font-weight: 600;
    margin-bottom: 17px;
  }

  input {
    width: 355px;
    height: 52px;
    background-color: #504b4a;
    border-radius: 15px;
    border: 1px solid rgba(112, 111, 111, 1);
    color: white;
    font-size: 16px;
    outline: none;
    padding: 20px;
  }
}

@media (max-width: 755px) {
  .container {
    width: 277px;
    display: flex;
    justify-content: center;
    input {
      width: 277px;
      height: 52px;
    }
  }
}
