.wrapper {
  width: 750px;
  display: flex;
  margin: 80px auto 0;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(73, 69, 68, 1);
  padding: 40px 40px;

  .btn {
    width: 247px;
    height: 60px;
    font-size: 20px;
  }

  h1 {
    font-weight: 600;
    margin: 35px 0px;
    font-size: 40px;
  }

  span {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    margin-top: 11px;
    gap: 5px;
    font-size: 14px;

    a {
      cursor: pointer;
      color: white;
    }
  }

  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 755px) {
  .wrapper {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: none;
    }

    span {
      display: none;
    }

    .btn {
      margin: auto;
    }

    .select {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 40px;
    }
  }
}
